.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-div {
  flex: 1;
  text-align: center;
  height: 600px;
}

.user {
  margin: 10% 30% 10% 0;
  width: 80%;
  height: 80%;
  animation: shake 0.5s infinite;
}

.left-div,
.right-div {
  flex: 1;
  border: 2px solid #ccc;
}
.right-div {
  flex: 1;
  text-align: center;
  height: 600px;
}

.error-message {
    color: red;
}

form {
  width: 300px;
  margin: 25% 0 25% 25%;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Arvo', serif;
}

.newuser {
  margin-top: 30px;
}

.user-para {
  font-size: 14px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 5px;
}

button.btn-userlogin {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.btn-userlogin:hover {
  background-color: #0144CE;
  color: white;
}


a {
  color: #0144CE;
}

@keyframes shake {
  10% {
    transform: translateX(-0.4px) rotate(-0.4deg);
  }
}


.container {
      perspective: 1000px;
      transform-style: preserve-3d;
    }

.left-div {
      transform: translateZ(50px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
.right-div {
      transform: translateZ(50px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }


.left-div:hover {
  transform: translateZ(100px); 
}